body {
	font-family: sans-serif, fantasy;
	background-color: rgb(176, 218, 255);
}
.interact {
	background-color: rgb(74, 193, 248);
	align-items: center;
	border-radius: 10px;
	width: 900px;
	height: 900px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	
}
.words {
	background-color: #6494ce;
	border-radius: 20px;
	position: absolute;
	top: 200px;
	width: 700px;
	height: 500px;
	text-align: justify;
}
.btn {
	position: absolute;
	align-items: center;
	display: flex;
	justify-content: center;
	top: 700px;
	width: 100px;
	height: 300px;
}
.image-button {
	background-color: #7DADE6;
	border-radius: 10px;
}
.over {
	position: absolute;
	border-radius: 10px;
	top: 120px;
	left: -60px;
	width: 220px;
	height: 65px;
	opacity: 0;
	transition: .5s ease;
	background-color: #9cd5e7;
  }
  .hover {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
  }
  .btn:hover .over {
	opacity: 1;
  }

