.interact {
	background-color: aquamarine;
	align-items: center;
	border-radius: 10px;
	width: 900px;
	height: 900px;
    position:absolute;
	top: 7px;
	right: 5px;
	display: flex;
	flex-direction: column;
	
}
.btn {
	position: absolute;
	align-items: center;
	display: flex;
	justify-content: center;
	top: 100px;
	width: 100px;
	height: 300px;
}