body {
	font-family: sans-serif, fantasy;
	background-color: aliceblue;
}
#name {
	text-align: center;
}
#bw {
	margin-left: 5px;
    margin-right: 5px;
}
#ab {
	text-align: center;
}
#abt {
	
}

img {
	display: block;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}
.pic {
	background-color: blue;
	position: absolute;
	top: 7px;
	left: 5px;
	border-radius: 10px;
	width: 900px;
	height: 900px;
    margin-left: 5px;
    margin-right: auto;
}
.me {
	background-color: blueviolet;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border-radius: 10px;
	width: 700px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}
.interact {
	background-color: aquamarine;
	align-items: center;
	border-radius: 10px;
	width: 900px;
	height: 900px;
    position:absolute;
	top: 7px;
	right: 5px;
	display: flex;
	flex-direction: column;
	
}
.words {
	background-color: aqua;
	border-radius: 20px;
	position: absolute;
	top: 200px;
	width: 700px;
	height: 300px;
	text-align: justify;
}
.btn {
	position: absolute;
	top: 500px;
	width: 700px;
	height: 300px;
}
